{% extends 'base.html.twig' %}

{% block title %} Todo App {% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class=""display-1">Todos</h1>
        {% if todos %}
            <table class="table table-striped" id="todos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Todo Title</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.title }}</td>
                        <td>
                            <a href="./todo/{{todo.id}}"
                               class="btn btn-dark rounded">
                                Show</a>
                            <a href="{{ path('update_todo', {'id' : todo.id}) }}"
                               class="btn btn-light rounded delete-todo">Edit</a>
                            <a href="#" class="btn btn-danger rounded delete-todo"
                               data-id="{{ todo.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="lead">No Todos Yet.</p>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}